@import "vars";
@import "libs";
@import "fonts";
@import "icons";

//Parts
@import "parts/typography";
@import "parts/forms";

// Blocks
@import "blocks/header";
@import "blocks/footer";


body {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	font-family: $default-font;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.65;
	color: $text;
	background-color: #fff;
}

main.main {
	flex: 1 1 0%;
}

.flex {
	&-initial {
		flex: 0 1 auto;
	}
	&-1 {
		flex: 1 1 0%;
	}
	&-auto {
		flex: 1 1 auto;
	}
	&-none {
		flex: none;
	}
}

.img {
	display: block;
	width: 100%;
	height: auto;
	&-cover {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
