@import "vars";
@import "fonts";
@import "libs";


// Blocks
@import "blocks/header";
@import "blocks/footer";
@import "blocks/loader";


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

a {
	color: map-get($link, default);
	text-decoration: none;
	transition: color .3s;
	&:hover {
		color: map-get($link, hover);
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}

button:focus {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: #fff;
	input, textarea {
		border: #666 1px solid;
		outline: none;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
